body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article {
    display: flex;
    width: 48%;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.date-time {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: gray;
}

.date, .time {
    margin: 0 1px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.dashed-line {
    border: none;
    border-top: 2px dashed #000;
    margin: 20px 0;
}
.vertical-line {
    height: 80px;
    margin:0 10px;
    border-left: 3px solid rgb(82, 81, 81);
}